/* 
:-moz-any(Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

 Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}) 
*/

.dashboard-root {
    margin: 1% 5% 5% 5%;
}
@media only screen and (max-width: 1200px) {
    .dashboard-root {
        margin: 0;
    }
    .radix-themes {
        margin: 0;
    }
    .conversation-container {
        min-height: 100dvh !important;
        max-height: 100dvh !important;
    }
    .conversation-view-container {
        min-height: 100dvh !important;
        max-height: 100dvh !important;
    }
}

.conversation-container {
    overflow: auto;
    scrollbar-gutter: stable;
    overflow-x: hidden;
    scrollbar-color: var(--gray-8) var(--gray-11);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    height: 100%;
    min-height: 95dvh;
    max-height: 95dvh;
}

.message-box-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 89dvh;
    min-height: 89dvh;
    overflow: auto;
    scrollbar-color: var(--gray-8) var(--gray-11);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.conversation-view-container {
    background-color: var(--gray-5);
    min-height: 95dvh;
    max-height: 95dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
