.message-box {
    background-color: var(--accent-10);
    max-width: 50%;
    border-radius: 10px;
    hyphens: auto;
    padding: 7px;
    width: fit-content;
}
.current-user-message {
    align-self: flex-end;
    background-color: var(--gray-10);
    color: black;
    font-weight: 500;
}
