.message-box {
    background-color: var(--accent-10);
    max-width: 50%;
    border-radius: 10px;
    hyphens: auto;
    padding: 7px;
    min-width: 40px;
    position: relative;
    align-self: flex-start;
}
.current-user-message {
    align-self: flex-end;
    background-color: var(--accent-11);
    color: black;
    font-weight: 500;
}

.sent-icon {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
}

.message-time {
    font-size: xx-small;
    font-weight: 200;
    display: block;
    margin-bottom: -5px;
    margin-left: 7px;
    margin-right: 6px;
}
